
<table style="text-align:center"><caption><strong>Estadisticas Descriptivas Test-Personas</strong></caption>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Statistic</td><td>N</td><td>Mean</td><td>St. Dev.</td><td>Min</td><td>Max</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Orden</td><td>219,644</td><td>2.6</td><td>1.7</td><td>1</td><td>21</td></tr>
<tr><td style="text-align:left">Clase</td><td>219,644</td><td>1.1</td><td>0.3</td><td>1</td><td>2</td></tr>
<tr><td style="text-align:left">Edad</td><td>219,644</td><td>33.5</td><td>21.7</td><td>0</td><td>110</td></tr>
<tr><td style="text-align:left">Educacion</td><td>180,827</td><td>6.1</td><td>3.9</td><td>0</td><td>99</td></tr>
<tr><td style="text-align:left">Oficio</td><td>99,940</td><td>54.6</td><td>26.4</td><td>1</td><td>99</td></tr>
<tr><td style="text-align:left">Tiempo_Trabajo</td><td>99,940</td><td>86.6</td><td>114.3</td><td>0</td><td>900</td></tr>
<tr><td style="text-align:left">Horas_trabajo</td><td>99,940</td><td>44.6</td><td>15.7</td><td>1</td><td>130</td></tr>
<tr><td style="text-align:left">Pet</td><td>180,827</td><td>1.0</td><td>0.0</td><td>1</td><td>1</td></tr>
<tr><td style="text-align:left">Oc</td><td>99,940</td><td>1.0</td><td>0.0</td><td>1</td><td>1</td></tr>
<tr><td style="text-align:left">Des</td><td>11,973</td><td>1.0</td><td>0.0</td><td>1</td><td>1</td></tr>
<tr><td style="text-align:left">Ina</td><td>68,914</td><td>1.0</td><td>0.0</td><td>1</td><td>1</td></tr>
<tr><td style="text-align:left">Depto</td><td>219,644</td><td>38.4</td><td>23.4</td><td>5</td><td>76</td></tr>
<tr><td style="text-align:left">train</td><td>219,644</td><td>0.0</td><td>0.0</td><td>0</td><td>0</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr></table>
