
<table style="text-align:center"><caption><strong>Estadisticas Descriptivas Train-Personas</strong></caption>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Statistic</td><td>N</td><td>Mean</td><td>St. Dev.</td><td>Min</td><td>Max</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Orden</td><td>543,109</td><td>2.6</td><td>1.7</td><td>1</td><td>28</td></tr>
<tr><td style="text-align:left">Clase</td><td>543,109</td><td>1.1</td><td>0.3</td><td>1</td><td>2</td></tr>
<tr><td style="text-align:left">Edad</td><td>543,109</td><td>33.6</td><td>21.7</td><td>0</td><td>110</td></tr>
<tr><td style="text-align:left">Educacion</td><td>447,659</td><td>6.2</td><td>3.8</td><td>0</td><td>99</td></tr>
<tr><td style="text-align:left">Oficio</td><td>248,075</td><td>54.3</td><td>26.5</td><td>0</td><td>99</td></tr>
<tr><td style="text-align:left">Tiempo_Trabajo</td><td>248,075</td><td>85.8</td><td>113.6</td><td>0</td><td>948</td></tr>
<tr><td style="text-align:left">Horas_trabajo</td><td>248,075</td><td>44.8</td><td>15.7</td><td>1</td><td>130</td></tr>
<tr><td style="text-align:left">Pet</td><td>447,659</td><td>1.0</td><td>0.0</td><td>1</td><td>1</td></tr>
<tr><td style="text-align:left">Oc</td><td>248,075</td><td>1.0</td><td>0.0</td><td>1</td><td>1</td></tr>
<tr><td style="text-align:left">Des</td><td>30,072</td><td>1.0</td><td>0.0</td><td>1</td><td>1</td></tr>
<tr><td style="text-align:left">Ina</td><td>169,512</td><td>1.0</td><td>0.0</td><td>1</td><td>1</td></tr>
<tr><td style="text-align:left">Depto</td><td>543,109</td><td>36.7</td><td>23.7</td><td>5</td><td>76</td></tr>
<tr><td style="text-align:left">train</td><td>543,109</td><td>1.0</td><td>0.0</td><td>1</td><td>1</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr></table>
