
<table style="text-align:center"><caption><strong>Estadisticas Descriptivas Train-Hogares</strong></caption>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Statistic</td><td>N</td><td>Mean</td><td>St. Dev.</td><td>Min</td><td>Max</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Clase</td><td>164,960</td><td>1.1</td><td>0.3</td><td>1</td><td>2</td></tr>
<tr><td style="text-align:left">Cuartos</td><td>164,960</td><td>3.4</td><td>1.2</td><td>1</td><td>98</td></tr>
<tr><td style="text-align:left">Cuartos_dormir</td><td>164,960</td><td>2.0</td><td>0.9</td><td>1</td><td>15</td></tr>
<tr><td style="text-align:left">Amort_mes</td><td>5,626</td><td>919,943.2</td><td>6,115,976.0</td><td>98</td><td>280,000,000</td></tr>
<tr><td style="text-align:left">Est_amort_mes</td><td>100,507</td><td>499,840.8</td><td>4,163,131.0</td><td>98</td><td>600,000,000</td></tr>
<tr><td style="text-align:left">Arriendo_mes</td><td>64,453</td><td>437,911.8</td><td>1,447,543.0</td><td>20</td><td>300,000,000</td></tr>
<tr><td style="text-align:left">Personas_hogar</td><td>164,960</td><td>3.3</td><td>1.8</td><td>1</td><td>28</td></tr>
<tr><td style="text-align:left">Personas_gasto</td><td>164,960</td><td>3.3</td><td>1.8</td><td>1</td><td>28</td></tr>
<tr><td style="text-align:left">Ingtotug</td><td>164,960</td><td>2,090,895.0</td><td>2,512,488.0</td><td>0.0</td><td>85,833,333.0</td></tr>
<tr><td style="text-align:left">Ingtotugarr</td><td>164,960</td><td>2,307,865.0</td><td>2,628,933.0</td><td>0.0</td><td>88,833,333.0</td></tr>
<tr><td style="text-align:left">Ingpcug</td><td>164,960</td><td>870,639.3</td><td>1,244,350.0</td><td>0.0</td><td>88,833,333.0</td></tr>
<tr><td style="text-align:left">Lp</td><td>164,960</td><td>271,522.3</td><td>33,656.9</td><td>167,222.5</td><td>303,816.7</td></tr>
<tr><td style="text-align:left">Indigente</td><td>164,960</td><td>0.05</td><td>0.2</td><td>0</td><td>1</td></tr>
<tr><td style="text-align:left">Npobres</td><td>164,960</td><td>0.8</td><td>1.9</td><td>0</td><td>28</td></tr>
<tr><td style="text-align:left">Nindigentes</td><td>164,960</td><td>0.2</td><td>1.0</td><td>0</td><td>17</td></tr>
<tr><td style="text-align:left">Depto</td><td>164,960</td><td>37.1</td><td>23.9</td><td>5</td><td>76</td></tr>
<tr><td style="text-align:left">train</td><td>164,960</td><td>1.0</td><td>0.0</td><td>1</td><td>1</td></tr>
<tr><td style="text-align:left">edad_max</td><td>164,960</td><td>49.6</td><td>16.4</td><td>11</td><td>108</td></tr>
<tr><td style="text-align:left">Promedio_edad</td><td>164,960</td><td>37.4</td><td>16.9</td><td>5.7</td><td>102.0</td></tr>
<tr><td style="text-align:left">tiempo_edu</td><td>164,960</td><td>16.8</td><td>11.1</td><td>0</td><td>230</td></tr>
<tr><td style="text-align:left">educ_superior</td><td>164,960</td><td>0.3</td><td>0.4</td><td>0</td><td>1</td></tr>
<tr><td style="text-align:left">educ_media</td><td>164,960</td><td>0.3</td><td>0.4</td><td>0</td><td>1</td></tr>
<tr><td style="text-align:left">regimen_salud_cont</td><td>155,237</td><td>0.5</td><td>0.5</td><td>0</td><td>1</td></tr>
<tr><td style="text-align:left">horas_trabajo_total</td><td>164,960</td><td>67.4</td><td>49.0</td><td>0</td><td>640</td></tr>
<tr><td style="text-align:left">pension</td><td>117,155</td><td>0.4</td><td>0.5</td><td>0</td><td>1</td></tr>
<tr><td style="text-align:left">Pago_arr_pen</td><td>164,959</td><td>0.2</td><td>0.4</td><td>0</td><td>1</td></tr>
<tr><td style="text-align:left">Pago_otros</td><td>164,959</td><td>0.3</td><td>0.5</td><td>0</td><td>1</td></tr>
<tr><td style="text-align:left">desempleo</td><td>164,959</td><td>0.02</td><td>0.2</td><td>0</td><td>1</td></tr>
<tr><td style="text-align:left">hogar_propio_arr</td><td>164,960</td><td>0.8</td><td>0.4</td><td>0</td><td>1</td></tr>
<tr><td style="text-align:left">hogar_usu_otro</td><td>164,960</td><td>0.2</td><td>0.4</td><td>0</td><td>1</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr></table>
